{% load wagtailcore_tags %}


<nav class="breadcrumb-container" >
    {% if ancestors %}
      <div class="breadcrum">
        <div class="breadcrum-angle"></div>
        <a href="/"><p class="b100">Home</p></a>
        <div class="breadcrum-spacer"></div>
          {% for ancestor in ancestors|slice:"1:" %}
            {% if forloop.last %}
              <p class="active b100" >
                {{ ancestor }}
              </p>
            {% else %}
              {% if ancestor in ancestors_not_link %}
                <p class="b100" >
                  {{ ancestor }}
                </p>
                <div class="breadcrum-spacer"></div>
              {% else %}
                {% if ancestor.specific.breadcrumbs_link %}
                  <a href="{{ancestor.specific.breadcrumbs_link.url}}" >{{ ancestor }}</a>
                  <div class="breadcrum-spacer"></div>
                {% else %}
                  <a href="{% pageurl ancestor %}" >{{ ancestor }}</a>
                  <div class="breadcrum-spacer"></div>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
      </div>
    {% endif %}
</nav>