{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<footer class="">
    <div class="signup-newletter">
        <div class="signup-newsletter-form">
            <p class="b300">Get insights, news and updates on Business Prototyping</p>
            <form action="/contact-form/" method="POST" role="form">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email address" id="">
            </form>
            <p class="form-sending b100">Sending this form, I agree to the <a  class="form-sending" href="">Terms and Conditions.</a></p>
        </div>
    </div>
    <div class="address">
        <div></div>
        <p class="b200" >Carrer Zamora, 46<br>Barcelona, 08005<br><br>+34 930 253 936<br><a href="mailto">accelerate@nobaventures.com</a><br><a href="#">Linkedin</a></p>
    </div>
    <div class="policy b100">
        <p>© 2021 by NOBA Ventures</p>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
    </div>
</footer>
