{% load static wagtailuserbar %}
{% load wagtailcore_tags footer_tags %}

{% get_footer "main" as footer_info %}


<footer id="footer" class="">
    <div class="signup-newletter">
        <div class="signup-newsletter-form">
            <p class="b300">{{ footer_info.form_description }}</p>
            <form action="/contact-form/" method="POST" role="form">
                {% csrf_token %}
                <div class="email-input-arrow">
                    <input type="email" name="email" placeholder="Email address" id="" />
                    <img class="arrow-submit-form" src="{% static 'images/arrow-right.svg' %}" alt="">
                </div>
                <div class="form-error-message ">
                    <p id="label-error-message"  class="display-none">Error</p>
                </div>
                <label class="agreement" for="id-agreement">
                    <input id="id-agreement" type="checkbox" name="id-agreement" id="" />
                    <span class="form-sending b100">{{ footer_info.term_and_conditions|richtext }}</span>
                </label>
            </form>
        </div>

    </div>
    <div class="address">
        <div></div>
        <div class="b200" >{{ footer_info.location|richtext }}</div>
    </div>
    <div class="policy b100">
        {{ footer_info.low_description|richtext }}
    </div>
</footer>
