<footer class="">
    <div class="signup-newletter">
        <div class="signup-newsletter-form">
            <p>Sign-up for our newsletter</p>
            <form action="">
                <input type="email" name="email" placeholder="Email address" id="">
            </form>
        </div>
    </div>
    <div class="address">
        <div></div>
        <p>Carrer Zamora, 46<br>Barcelona, 08005<br><br>+34 930 253 936<br><a href="mailto">accelerate@nobaventures.com</a><br><a href="#">Linkedin</a></p>
    </div>
    <div class="policy">
        <p>© 2021 by NOBA Ventures</p>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
    </div>
    <!-- <div class="uno">uno</div>
    <div class="dos">dos</div>
    <div class="tres">tres</div>
    <div class="cuatro">cuatro</div>
    <div class="cinco">cinco</div>
    <div class="seis">seis</div>
    <div class="siete">siete</div>
    <div class="ocho">ocho</div> -->
</footer>
