{% load wagtailcore_tags menus_tags %}
{% load static %}

<header>
    <a href="/">
        <!-- <div class="logo "></div> -->
        <div class="logo-progress">
            <div class="logo-N"></div>
            <div class="logo-o "></div>
            <div class="logo-BA"></div>
        </div>
    </a>
    <div class="logo-menu"></div>
    <div class="container-menu" data-visualization="false">
        <div class="menu">
            <nav>
                {% for item in nvagation.menu_items.all %}
                    <a class="b400" 
                        href="{% if item.link_page %}{{item.link_page.url|default_if_none:""}}{% else %}{{item.link_url|default_if_none:""}}{% endif %}"
                        {% if item.open_in_new_tab %}target="_blank"{% endif %} 
                        {% if item.anchor %}data-anchor={{ item.anchor|default_if_none:"" }} {% endif %} 
                        >
                        {{item.link_title}}</a>
                {% endfor %}
                <a class="linkedin-menu-link" 
                    href="{{ settings.site_settings.SocialMediaSettings.linkedin }}"
                    target="_blank"
                    ><img class="icon-linkedin-menu" src="{% static 'images/icon-linkedin-white.svg' %}" alt="linkedin-img">Linkedin</a>
            </nav>
        </div>
        <!-- <div class="btn-menu-close">x</div> -->
        <img class="btn-menu-close" src="{% static 'images/btn-menu-close.svg' %}" alt="">
    </div>
</header>
