{% comment %} {% load navigation_tags static wagtailuserbar %} {% endcomment %}
{% load wagtailcore_tags %}

{% load static %}

<header>
    <div class="logo "></div>
    <div class="logo-menu"></div>
    <div class="container-menu" data-visualization="false">
        <div class="menu">
            <nav>
                <a class="h100" href="#">Home</a>
                <a class="h100" href="#">Approach</a>
                <a class="h100" href="#">Companies</a>
                <a class="h100" href="#">Entrepreneurs</a>
                <a class="h100" href="#">Team</a>
                <a class="h100" href="#">Values</a>
                <a class="h100" href="#">Resources</a>
                <a class="h100" href="#">Keep in touch</a>
            </nav>
        </div>
        <!-- <div class="btn-menu-close">x</div> -->
        <img class="btn-menu-close" src="{% static 'images/btn-menu-close.svg' %}" alt="">
    </div>
</header>
