{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags navegation_tags  menus_tags %}

{% block body_class %}dark{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block header %}
    {% get_menu "menu_pages" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <main class="mar-huge-top pad-main-xxl-left pad-mega-bottom">
        {% breadcrumbs %}
        <div class="cointainer-title">
            <div class="title b100">
                <h1 class="h300">
                    {{ page.title_screen|richtext }}
                </h1>
            </div>
        </div>
        {% include 'blog/card_index_highlight.html' %}
        <section id="card-post" class="mar-xxxl only-mar-botom"></section>
        {% include 'blog/cards_post.html' %}
        <div class="container-blog-index-footer mar-xxxl-top mar-main-xxl-right">
            <div class="arrows">
                {% if posts_regular.has_previous %}
                    <a href="?page={{ posts_regular.previous_page_number }}" 
                    data-anchor="#card-post"><i class="fas fa-arrow-left"></i></a>
                {% endif %}
                {% if posts_regular.has_next %}
                    <a href="?page={{ posts_regular.next_page_number }}" 
                        data-anchor="#card-post"
                        ><i class="fas fa-arrow-right"></i></a>
                {% endif %}
                <!-- <p><a href="" style="color: white;">View all blog articles</a></p> -->
            </div>
        </div>
        <div class="mar-xxl-bottom"></div>
    </main>

{% endblock content %}
