{% extends "base.html" %}
{% load static navegation_tags %}
{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <main class="blog-index pad-xxl not-pad-right">
        <div class="cointainer-title">
            {% breadcrumbs %}
            <div class="title b100">
                <h1 class="h300">
                    {{ page.title|richtext }}
                </h1>
            </div>
        </div>
        {% for block in page.blog_highlight_cards %}
            {% include_block block %}
        {% endfor %}
        <div class="mar-xxxl only-mar-botom"></div>
        {% for block in page.blog_cards %}
            {% include_block block %}
        {% endfor %}
        <div class="mar-xxl-bottom"></div>
    </main>

{% endblock content %}
