{% extends "base.html" %}
{% load static navegation_tags menus_tags %}
{% load wagtailcore_tags %}

{% block body_class %}dark{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block header %}
    {% get_menu "menu_pages" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <main class="mar-huge-top pad-xxl-left pad-mega-bottom">
        {% breadcrumbs %}
        <div class="cointainer-title">
            <div class="title b100">
                <h1 class="h300">
                    {{ page.title_screen|richtext }}
                </h1>
            </div>
        </div>
        {% for block in page.blog_highlight_cards %}
            {% include_block block %}
        {% endfor %}
        <div class="mar-xxxl only-mar-botom"></div>
        {% for block in page.blog_cards %}
            {% include_block block %}
        {% endfor %}
        <div class="container-blog-index-footer mar-xxxl-top mar-xxl-rigth">
            <div class="arrows">
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
                <!-- <p><a href="" style="color: white;">View all blog articles</a></p> -->
            </div>
        </div>
        <div class="mar-xxl-bottom"></div>
    </main>

{% endblock content %}
