{% extends "base.html" %}
{% load static navegation_tags menus_tags %}
{% load wagtailcore_tags %}

{% block html_extra_css %}scroll-behavior-page{% endblock %}

{% block body_class %}{% if page.orange %}orange{% else %}white{% endif%}{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block header %}
    {% get_menu "menu_pages" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <main class="mar-huge-top pad-xxl-right pad-xxl-left pad-mega-bottom ">
        <div class="container-projects-help">
            {% breadcrumbs %}
            <div class="projects-help-title h300 mar-xl-bottom">
                {{page.title_screen}}
            </div>
            <div class="mar-mega-bottom"></div>
            <div class="simple-page-body " >
                <div class="simple-page-body-paragraph b300">
                    {{page.body|richtext}}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}