{% extends "base.html" %}
{% load static navegation_tags %}
{% load wagtailcore_tags %}

{% block body_class %}{% if page.orange %}orange{% else %}white{% endif%}{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <main class="pad-xxxl-top pad-xxl-right pad-xxl-left pad-mega-bottom ">
        <div class="container-projects-help">
            {% breadcrumbs %}
            <div class="projects-help-title h300 mar-xl-bottom">
                {{page.title}}
            </div>
            <div class="mar-mega-bottom"></div>
            <div class="simple-page-body " >
                <div class="simple-page-body-paragraph b300">
                    {{page.body|richtext}}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}