{% extends "base.html" %}
{% load static navegation_tags %}
{% load wagtailcore_tags %}

{% block body_class %}white{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <main class="mar-huge-top pad-xxl-right pad-xxl-left pad-mega-bottom ">
        <div class="container-simple-page">
            {% breadcrumbs %}
            <div class="container-simple-page-title h300 mar-xl-bottom">
                {{page.title_screen}}
            </div>
            <div class="container-simple-page-text b300" >
                {{page.body|richtext}}
            </div>
            <div class="mar-mega-bottom"></div>
            {% for block in page.card_value_block %}
                {% include_block block %}
            {% endfor %}
            <div class="container-team-members">
                {% for block in page.card_team_member_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            {% if page.footer_title or page.footer_body %}
                <div class="mar-mega-bottom"></div>
                <div class="simple-page-footer">
                    <div class="simple-page-footer-title h300">{{page.footer_title}}</div>
                    <div class="simple-page-footer-body h100">{{page.footer_body|richtext}}</div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}