{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block header %}
    {% get_menu "menu_pages" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block body_class %}    
    white
{% endblock %}

{% block content %}
    <main class="screen-error">
        <h1 class="h300">Page not found</h1>
        <h2 class="h100">Sorry, this page could not be found.</h2>
    </main>
{% endblock %}
