{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags menus_tags %}

{% block title %}Internal server error{% endblock %}

{% block body_class %}    
    white
{% endblock %}

{% block header %}
    {% get_menu "menu_pages" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <main class="screen-error">
        <h1 class="h300">Internal server error</h1>
        <h2 class="h100">Sorry, there seems to be an error. Please try again soon.</h2>
    </main>
{% endblock %}
