{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags menus_tags %}

{% block html_extra_css %}scroll-behavior-page{% endblock %}

{% block body_class %}white {% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block header %}
    {% get_menu "main" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <input type="hidden" id="home-page">
    {% if page.video_section %}
    <div class="initial-full">
        <section id="initial" class="display-none">
            <p class="initial-text-1 b200">Afraid of a blank canvas?</p>
        </section>
        <section id="initial-one"  class="initial-one pad-main-xxl-right pad-main-xxl-left display-hide-in-mobile">
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <p class="h200 fade-text appear sp-initial display-none">We take a blank canvas…<br>And turn it into your next viable<br> business venture.</p>
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <p class="h200 fade-text appear">We are NOBA, The Business<br> Prototyping Agency.</p>
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <div class="pad-xxxl-top sp-initial display-none display-only-mobile"></div>
            <p class="h200 fade-text appear">We support companies and<br> entrepreneurs in launching new<br> products, services and business<br> models.</p>
            <div class="pad-xxxl-top"></div>
        </section>
    </div>
    <section class="initial-one-mobile initial-full  display-only-mobile pad-main-xxl-right pad-main-xxl-left display-none">
        <div class="screen">
            <p class="h200 fade-text appear">We take a blank canvas…<br>And turn it into your next viable<br> business venture.</p>
        </div>
        <div class="screen">
            <p class="h200 fade-text appear">We are NOBA, The Business<br> Prototyping Agency.</p>
        </div>
        <div class="screen">
            <p class="h200 fade-text appear">We support companies and<br> entrepreneurs in launching new<br> products, services and business<br> models.</p>
        </div>
    </section>
    <section class="initial-one-mobile-loggued initial-full  display-only-mobile pad-main-xxl-right pad-main-xxl-left display-none">
        <div class="pad-xxxl-top"></div>
        <p class="h200 fade-text appear">We are NOBA, The Business<br> Prototyping Agency.</p>
        <div class="pad-xxxl-top"></div>
        <p class="h200 fade-text appear">We support companies and<br> entrepreneurs in launching new<br> products, services and business<br> models.</p>
        <div class="pad-xxxl-top"></div>
    </section>
    {% endif %}
    {% if page.video_section %}
        <section id="video" class="showcase ">
            <video id="video-play" src="{% static 'videos/noba-home-video.mp4' %}" muted loop autoplay playsinline ></video>
        </section>
    {% endif %}
    {% if page.knowledge_section %}
        <section id="knowledge" class="pad-main-xxl-left" >
            <div class="container-noba-knowledge">
                <div class="noba-knowledge-title">
                    <i class="b300 fas fa-arrow-right"></i> <p class="b300">NOBA Knowledge</p>
                </div>
                <div class="container-noba-knowledge-inner">
                    <div class="slider-inner cursor-drag">
                        {% for block in page.card_knowledge_block %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if page.approach_section %}
        <section id="approach" class="approach pad-main-xxl-right pad-main-xxl-left dark-sections">
            <div class="container-approach">
                <div class="pad-xxxl-top"></div>
                <div class="approach-description fade-in">
                    <i class="fas fa-arrow-right b300"></i><p class="b300">Approach</p>
                </div>
                <div class="mar-xxxl-bottom"></div>
                <div class="approach-header ">
                    <div class="approach-title h300 mar-xl-bottom fade-in">
                        {{page.approach_title}}
                    </div>
                    <div class="approach-body " >
                        <div class="simple-page-body-paragraph b300 fade-in">
                            {{page.approach_body|richtext}}
                        </div>
                    </div>
                </div>
                <div class="mar-mega-bottom"></div>
                {% for block in page.card_approach_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.entrepreneur_section %}
        <section id="companies" class="companies pad-main-xxl-right pad-main-xxl-left">
            <div class="pad-xxxl-top"></div>
            <div class="companies-description">
                <i class="fas fa-arrow-right b300"></i><p class="b300">Services for Companies</p>
            </div>
            <div class="mar-xxxl-bottom"></div>
            <div class="companies-title h200">
                We support companies to build and launch new products and services that enhance their roster.
            </div>
            <div class="pad-mega-bottom"></div>
            <div class="companies-cards-container">
                {% for block in page.card_companies_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="companies-footer">
                <div class="display-none-sm"></div>
                <a class="b300" href="{{page.company_link.url}}">Company Case Studies</a>
                <p class="b300" >[{{companies_qt}}]</p>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
        <section class="pad-main-xxl-left">
            <div class="container-companies-we-work-with ">
                <div class="h100 mar-xl-bottom pad-main-xxl-right">
                    Companies we work with
                </div>
                <div class="companies-we-work-with-inner cursor-drag">
                    <div class="slider-inner">
                        {% for block in page.card_logo_block %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mar-xxxl-bottom"></div>
        </section>
        <section id="entrepreneur"  class="companies pad-main-xxl-right pad-main-xxl-left section-entrepreneurs">
            <div class="pad-xxxl-top"></div>
            <div class="companies-description">
                <i class="fas fa-arrow-right b300"></i><p class="b300">Services for Entrepreneurs</p>
            </div>
            <div class="mar-xxxl-bottom"></div>
            <div class="companies-title h200">
                We support individuals and visionary teams by turning their ideas into successful real-life businesses.
            </div>
            <div class="pad-mega-bottom"></div>
            <div class="companies-cards-container">
                {% for block in page.card_entrepreneurs_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="companies-footer">
                <div class="display-none-sm" ></div>
                <a class="b300" href="{{page.entrepreneurs_link.url}}">Entrepreneurs Case Studies</a>
                <div></div>
                {% comment %}<p class="b300" >[{{entrepreneurs_qt}}]</p>{% endcomment %}
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.about_section %}
        <section id="about" class="about  pad-main-xxl-left">
            <div class="pad-huge-top"></div>
            <div class="about-title h300">
                {{ page.about_title }}
            </div>
            <div class="mar-xxl-bottom"></div>
            <div class="container-team-members-home">
                <div class="team-members-inner">
                    <div class="slider-inner">
                        {% for block in page.card_team_member_block %}
                            {% include_block block %}
                        {% endfor %}
                        <div class="card-team-member last" data-href="{{page.about_link.url}}" >
                            <div class="card-team-member--last-card">
                                <h1 class="h100" >+{{team_qt}}</h1>
                            </div>
                            <!-- <div class="img-member"><img src="{{img.url}}" alt="{{img.alt}}"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="about-footer pad-main-xxl-right">
                <div class="display-none-sm" ></div>
                <a class="b300" href="{{page.about_link.url}}">Know our team</a>
                <p class="b300" >[{{team_qt}}]</p>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.resources_section %}
        <section id="resources" class="resources pad-main-xxl-left dark-sections">
            <div class="pad-huge-top"></div>
            <div class="cointainer-title">
                <div class="title b100">
                    <h1 class="h300">
                        {{ page.resources_title|richtext }}
                    </h1>
                </div>
            </div>
            {% include 'blog/card_index_highlight.html' %}
            <div class="mar-xxxl only-mar-botom"></div>
            {% include 'blog/cards_post.html' with carrousel="true" %}
            <div class="container-blog-index-footer-home mar-xxxl-top mar-main-xxl-right">
                <div class="display-none-sm" ></div>
                <p><a class="b300" href="{{page.blog_link.url}}" style="color: white;">View all blog articles</a></p>
                <p class="b300" >[{{regular_posts_qt}}]</p>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}

{% endblock content %}

{% block modals %}
    <div class="modal-cookie">
        <p class="b200">By using our site you agree to our <a href="{{page.modal_privacy_policy_link.url}}">use of cookies policy</a> in order to deliver a better site experience.</p>
        <div class="modal-cookie-buttons">
            <a href="#" class="dismiss b200">Dismiss</a>
            <div>
                <input type="radio" name="" id="input-cookie">
                <img src="{% static 'images/circle-cookie.svg' %}"  data-modal-close="modal-cookie" alt="">
                <label for="input-cookie b200">I agree</label>
            </div>
        </div>
    </div>
    <div class="overlay-modal "></div>
{% endblock modals %}


