{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags menus_tags %}

{% block body_class %}white {% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block header %}
    {% get_menu "main" as nvagation %}
    {% include 'includes/header.html' with nvagation=nvagation %}
{% endblock %}

{% block content %}
    <input type="hidden" id="home-page">
    {% if page.video_section %}
    <div class="initial-full">
        <section id="initial" class="display-none">
            <p class="initial-text-1 b200">Afraid of a blank canvas?</p>
        </section>
        <section id="initial-one"  class="initial-one pad-xxl-right pad-xxl-left">
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <p class="h200 fade-text appear">We take a blank canvas…<br>And turn it into your next viable<br> business venture.</p>
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <p class="h200 fade-text appear">We are NOBA, The Business<br> Prototyping Agency.</p>
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <p class="h200 fade-text appear">We support companies and<br> entrepreneurs in launching new<br> products, services and business<br> models.</p>
            <div class="pad-xxxl-top"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
            <div class="pad-xxxl-top sp-initial display-none"></div>
        </section>
    </div>
    {% endif %}
    {% if page.video_section %}
        <section id="video" class="showcase cursor-video">
            {% comment %}<video src="{% static 'videos/noba-video-home.mp4' %}" muted loop autoplay></video>{% endcomment %}
        </section>
    {% endif %}
    {% if page.knowledge_section %}
        <section id="knowledge" class="pad-xxl-left" >
            <div class="container-noba-knowledge">
                <div class="noba-knowledge-title">
                    <i class="b300 fas fa-arrow-right"></i> <p class="b300">NOBA Knowledge</p>
                </div>
                <div class="container-noba-knowledge-inner">
                    <div class="slider-inner cursor-drag">
                        <div class="card-noba-knowledge">
                            <hr>
                            <h1 class="h100">$5b+</h1>
                            <p class="b300">Equity value created by our partner ventures.</p>
                        </div>
                        <div class="card-noba-knowledge">
                            <hr>
                            <h1 class="h100">932</h1>
                            <p class="b300">Endeavors we’ve helped launch with corporate clients and entrepreneurs.</p>
                        </div>
                        <div class="card-noba-knowledge">
                            <hr>
                            <h1 class="h100">81%</h1>
                            <p class="b300">Unmatched success rate on our pilot projects with multinationals and startups.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if page.approach_section %}
        <section id="approach" class="approach pad-xxl-right pad-xxl-left dark-sections">
            <div class="container-approach">
                <div class="pad-xxxl-top"></div>
                <div class="approach-description fade-in">
                    <i class="fas fa-arrow-right b300"></i><p class="b300">Approach</p>
                </div>
                <div class="mar-xxxl-bottom"></div>
                <div class="approach-header fade-in">
                    <div class="approach-title h300 mar-xl-bottom">
                        {{page.approach_title}}
                    </div>
                    <div class="approach-body " >
                        <div class="simple-page-body-paragraph b300">
                            {{page.approach_body|richtext}}
                        </div>
                    </div>
                </div>
                <div class="mar-mega-bottom"></div>
                {% for block in page.card_approach_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.entrepreneur_section %}
        <section id="companies" class="companies pad-xxl-right pad-xxl-left">
            <div class="pad-xxxl-top"></div>
            <div class="companies-description">
                <i class="fas fa-arrow-right b300"></i><p class="b300">Services for Companies</p>
            </div>
            <div class="mar-xxxl-bottom"></div>
            <div class="companies-title h200">
                We support companies to build and launch new products and services that enhance their roster.
            </div>
            <div class="pad-mega-bottom"></div>
            <div class="companies-cards-container">
                {% for block in page.card_companies_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="companies-footer">
                <div></div>
                <a href="{{page.company_link.url}}">Company Case Studies</a>
                <a href="">[43]</a>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
        <section class="pad-xxl-left">
            <div class="container-companies-we-work-with ">
                <div class="h100 mar-xl-bottom">
                    Companies we work with
                </div>
                <div class="companies-we-work-with-inner cursor-drag">
                    <div class="slider-inner">
                        <img src="{% static 'images/danone 2.svg' %}" class="company-logo" alt="">
                        <img src="{% static 'images/danone 3.svg' %}" class="company-logo" alt="">
                        <img src="{% static 'images/danone 4.svg' %}" class="company-logo" alt="">
                        <img src="{% static 'images/danone 5.svg' %}" class="company-logo" alt="">
                        <img src="{% static 'images/danone 6.svg' %}" class="company-logo" alt="">
                        <img src="{% static 'images/danone 7.svg' %}" class="company-logo" alt="">
                    </div>
                </div>
            </div>
            <div class="mar-xxxl-bottom"></div>
        </section>
        <section id="entrepreneur"  class="companies pad-xxl-right pad-xxl-left section-entrepreneurs">
            <div class="pad-xxxl-top"></div>
            <div class="companies-description">
                <i class="fas fa-arrow-right b300"></i><p class="b300">Services for Entrepreneurs</p>
            </div>
            <div class="mar-xxxl-bottom"></div>
            <div class="companies-title h200">
                We support individuals and visionary teams by turning their ideas into successful real-life businesses.
            </div>
            <div class="pad-mega-bottom"></div>
            <div class="companies-cards-container">
                {% for block in page.card_entrepreneurs_block %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="companies-footer">
                <div></div>
                <a href="{{page.entrepreneurs_link.url}}">Entrepreneurs Case Studies</a>
                <a href="">[43]</a>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.about_section %}
        <section id="about" class="about  pad-xxl-left">
            <div class="pad-huge-top"></div>
            <div class="about-title h300">
                {{ page.about_title }}
            </div>
            <div class="mar-xxl-bottom"></div>
            <div class="container-team-members-home">
                <div class="team-members-inner">
                    <div class="slider-inner">
                        {% for block in page.card_team_member_block %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mar-xxxl-top"></div>
            <div class="about-footer pad-xxl-right">
                <div></div>
                <a href="{{page.about_link.url}}">Know our team</a>
                <a href="">[43]</a>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}
    {% if page.resources_section %}
        <section id="resources" class="resources pad-xxl-left dark-sections">
            <div class="pad-huge-top"></div>
            <div class="cointainer-title">
                <div class="title b100">
                    <h1 class="h300">
                        {{ page.resources_title|richtext }}
                    </h1>
                </div>
            </div>
            {% for block in page.blog_highlight_cards %}
                {% include_block block %}
            {% endfor %}
            <div class="mar-xxxl only-mar-botom"></div>
            {% for block in page.blog_cards %}
                {% include_block block %}
            {% endfor %}
            <div class="container-blog-index-footer mar-xxxl-top mar-xxl-rigth">
                <div class="arrows">
                    <p><a href="" style="color: white;">View all blog articles</a></p>
                </div>
            </div>
            <div class="pad-xxxl-top"></div>
        </section>
    {% endif %}

{% endblock content %}

{% block modals %}
    <div class="modal-cookie">
        <p class="b200">By using our site you agree to our <a href="{{page.modal_privacy_policy_link.url}}">use of cookies policy</a> in order to deliver a better site experience.</p>
        <div class="modal-cookie-buttons">
            <a href="#" class="dismiss b200">Dismiss</a>
            <div>
                <input type="radio" name="" id="input-cookie">
                <img src="{% static 'images/circle-cookie.svg' %}"  data-modal-close="modal-cookie" alt="">
                <label for="input-cookie b200">I agree</label>
            </div>
        </div>
    </div>
    <div class="overlay-modal "></div>
{% endblock modals %}


