{% load wagtailimages_tags %}

<div class="container-blog-index">
    <div class="container-blog-title mar-xl only-mar-botom b300">
        <i class="fas fa-arrow-right"></i><p>{{self.title}}</p>
    </div>
    <div class="container-blog-index-items mar-main-xxl-right">
        {% for card in self.cards %}
            <div class="card-blog-index">
                <a href="{% if card.link_page %}{{card.link_page.url}}{% else %}{% if card.link_external %}{{card.link_external.url}}{% else %} {% endif %}{% endif %}">
                    <div class="card-blog-info">
                        <hr>
                        <div class="info b200">
                            {% if card.link_page %}
                                <p>{{ card.link_page.publication_date_value|date:'M d'}}</p>
                                <p>{{ card.link_page.reading_time }}</p>
                            {% endif %}
                                <p>Article</p>
                        </div>
                        <p class="description b300">{{card.text}}</p>
                    </div>
                    {% image card.image original  as img %}
                    <img src="{{img.url}}" alt="{{img.alt}}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
