{% load wagtailimages_tags %}

<div class="container-blog">
    <div class="container-blog-title mar-xxl-bottom">
        <i class="fas fa-arrow-right b300" ></i><p class="b300">{{self.title}}</p>
    </div>
    <div class="container-blog-items ">
        {% for card in self.cards %}
                <div class="card-blog">
                    <a href="{% if card.link_page %}{{card.link_page}}{% else %}{% if card.link_external %}{{card.link_external}}{% else %} {% endif %}{% endif %}">
                        <div class="card-blog-info b200">
                            <hr>
                            <div class="info b200">
                                {% if card.link_page %}
                                    <p>{{ card.link_page.publication_date_value|date:'M d'}}</p>
                                    <p>{{ card.link_page.reading_time }}</p>
                                {% endif %}
                                    <p>Article</p>
                            </div>
                            <p class="description b300">{{card.text}}</p>
                        </div>
                        {% image card.image original  as img%}
                        <img src="{{img.url}}" alt="{{img.alt}}">
                    </a>
                </div>
        {% endfor %}
    </div>
</div>