{% load wagtailimages_tags %}

<div class="container-blog-index">
    <div class="container-blog-title mar-xl only-mar-botom b300">
        <i class="fas fa-arrow-right"></i><p>{{self.title}}</p>
    </div>
    <div class="container-blog-index-items mar-xxl only-mar-right">
        {% for card in self.cards %}
            <div class="card-blog-index">
                <a href="{% if card.link_page %}{{card.link_page.url}}{% else %}{% if card.link_external %}{{card.link_external.url}}{% else %} {% endif %}{% endif %}">
                    <hr>
                    <div class="card-blog-info">
                        <p class="info b200">Sep 28 2min Article</p>
                        <p class="description b300">{{card.text}}</p>
                    </div>
                    {% image card.image original  as img %}
                    <img src="{{img.url}}" alt="{{img.alt}}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="container-blog-index-footer mar-xxxl-top mar-xxl-rigth">
        <div class="arrows">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </div>
    </div>
</div>
